body{
    background-color: #272727;
}

.nav flex-column{
    background-color: #111418;
}

.fotoPerfil{
    border: 8px solid #343A40; 
    border-radius: 50%;
    max-width: 50px;
    background-color: #D9D9D9;
}